@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');

:root
{
    --black: #000000;
    --blue: #14213D;
    --red: #ef233c;
    --orange: #FCA311;
    --orangyish-yellow: hsla(37, 100%, 51%, 0.7);
    --gray: #E5E5E5;
    --white: #FFFFFF;
}

* {
    font-family: 'Ubuntu', sans-serif;
}

.checkout-header {
    font-size: 24px;
    margin-bottom: 20px;
}

.card {
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.checkout-form {
    padding: 20px;
}

.pizza-list-item {
    margin-bottom: 5px;
}

.subtotal-section {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}

.nav-link i
{
    font-size: 26px; /* Adjust the icon size */
    color: var(--orange); /* Set the icon color */
}