:root
{
    --black: #000000;
    --blue: #14213D;
    --red: #ef233c;
    --orange: #FCA311;
    --orangyish-yellow: hsla(37, 100%, 51%, 0.7);
    --gray: #E5E5E5;
    --white: #FFFFFF;
}

*, *::before, *::after
{
    border: none;
}

header {
    background-image: url('./Images/bg.jpg'); /* Replace with your image file path */
    background-size: cover;
    background-position: center;
    color: #fff;
}
nav
{
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    position: relative;
}

h4
{
    font-size: 22px;
    display: flex;
    align-items: center;
    color: var(--orange);
}

nav h4 span
{
    color: var(--red);
}

nav h4 i
{
    font-size: 26px;
    color: var(--orange);
}


span
{
    color: var(--orange);
}


.span2
{
    color: var(--red);
}

.cart-icon {
    position: absolute;
    right: 0; /* Align the cart icon to the right */
    margin-right: 20px; /* Add some right margin for spacing */
}

/* Style the cart icon */
.cart-icon a i {
    font-size: 26px; /* Adjust the icon size */
    color: var(--orange); /* Set the icon color */
}


/* Position the cart item count */
.cart-item-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--red); /* Background color for the item count */
    color: white; /* Text color for the item count */
    font-size: 12px; /* Adjust the font size as needed */
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    border-radius: 50%; /* Make it a circle */
    text-align: center; /* Center the text horizontally */
    line-height: 20px; /* Center the text vertically */
    z-index: 2; /* Ensure it's above the cart icon */
}


#menu-items img
{
    height: 250px;
    object-fit: cover;
}

.btn
{
    width: 100%;
    background: var(--orange);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    transition: transform 0.2s ease;
}

.btn:hover
{
    background: var(--orangyish-yellow);
    
}

.btn i{
    font-size: 18px;
    margin-right: 5px;
}

#about img
{
    height: 450px;
    width: 600px;
    object-fit: cover;
}


.price-label {
    font-size: 28px; 
    padding-left: 10px;
    color: #726865de; 
    font-weight: bold; 
    text-transform: uppercase; 
    margin-top: 10px; 
}

/* Center align card headings */
.card-title {
    text-align: center;
}

/* Add padding to card descriptions */
.card-description {
    
    text-align: center;
}


@media (max-width: 991px) {
    .cart-icon
    {
        bottom: 0;
        padding-right: 5px;
    }
}